@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile_1.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Eurostile, Arial, Helvetica, sans-serif;
}
