@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile_1.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile-bold';
  src: url('/fonts/Eurostile-Bold-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif, 'Eurostile', 'Eurostile-bold';
}
